body {
	margin: 0;
	padding: 0;
	background-color: #fff;
}

#visual {
	margin: 10px;
}
#visual, #VisualJSTooltip {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 13px;
	background-color: #fff;
}

#visual , #visual  h1 {
	font-size: 13px;
}

#visual h2, #VisualJSTooltip {
	font-size: 11px;
	font-weight: normal;
}

#VisualJSTooltip {
	display: none;
	position: absolute;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 4px;
	background-color: #f6f6f6;
	opacity: 0.90;
	white-space: nowrap;
}
#VisualJSTooltip strong, #VisualJSTooltip em {
	display: block;
	font-weight: bold;
}
#VisualJSTooltip em {
	font-style: normal;
	margin-top: 4px;
}

#visual .VisualJSnw {
	white-space: nowrap;
}

/* Flot */
#visual .VisualJSmini .flot-tick-label {
	font-size: 8px;
}

/* SVG */
#visual .area {
	fill: #808080;
	stroke: none;
}
#visual svg g.llegenda{
	stroke: #808080;
	stroke-width: 1px;
}
#visual svg g.llegenda text{
	font-size: 11px;
	fill: black;
	stroke: none;
}