body {
	margin: 0;
	padding: 0;
	background-color: #fff;
}

.visual {
	margin: 10px;
}
.visual, #VisualJSTooltip {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 13px;
	background-color: #fff;
}
.visual h1 {
	font-size: 13px;
}
.visual p {
	font-size: 11px;
	margin: 10px 0 0 0;
}
#VisualJSleft, #VisualJSright {
	text-align: center;
}

#VisualJSTooltip {
	display: none;
	position: absolute;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 4px;
	background-color: #f6f6f6;
	opacity: 0.90;
	white-space: nowrap;
	font-size: 11px;
}
#VisualJSTooltip strong, #VisualJSTooltip em {
	display: block;
	font-weight: bold;
}
#VisualJSTooltip em {
	font-style: normal;
	margin-top: 4px;
}

.visual .VisualJSnw {
	white-space: nowrap;
}

/* Flot */
.visual .VisualJSmini .flot-tick-label {
	font-size: 8px;
}
.visual .flot-tick-label span {
	display: block;
}
/* Avoid x-axis label overlapping in bar charts using styles (since 0.9.6) */
.visual .flot-tick-label.tickLabel span {
	padding: 0 2.5em;
}

/* SVG */
.visual .VisualJSarea {
	fill: #808080;
	stroke: #000;
	stroke-width: 0.05px;
}
.visual svg g.VisualJSlegend {
	stroke: #808080;
	stroke-width: 1px;
}
.visual svg g.VisualJSlegend text {
	font-size: 11px;
	fill: black;
	stroke: none;
}