body {
	font-family: sans-serif;
	font-size: 80%;
	width: 760px;
	margin: 1em auto;
}

h1 {
	font-size: 16px;
	margin: 0;
}
h1 a:link {
	color: black;
	text-decoration: none;
}
h1 a:visited {
	color: gray;
}

#dataviz {
	width: 700px;
	height: 565px;
	padding: 30px;
	background-color: #f6f6f6;
}
.right {
	display: inline-block;
	float: right;
}
.left {
	margin-top: 1em
}
label {
	margin-right: 0.5em;
}
label.right {
	margin-right: 0;
}
#version {
	color: #888;
	text-shadow: 1px 1px 1px #fcfcfc;
	margin: 0 0.5em 0 34%;
}
iframe {
	width: 700px;
	height: 100%;
}
#inputs, #code {
	padding: 0.5em;
}
#inputs {
	background-color: #bfbfbf;
}
#code {
	background-color: #f6f6f6;
}
select, input {
	padding: 2px;
}
input[type=number] {
	width: 3em;
}
.right input[type=number] {
	width: 30px;
}

input[type=text] {
	width: 188px;
}
input.range { /*type=text too*/
	width: 80px;
}
input[name=filter] {
	width: 4em;
}

#custom {
	display: none;
}
#custom input {
	width: 720px;
}
#custom a {
	display: block;
	margin: 2px 4px 0 0;
	text-align: right;
}
textarea {
	display: block;
	width: 712px;
	height: 300px;
	padding: 0.5em;
}
fieldset {
	border: 1px solid #fff;
	padding: 0.5em;
	margin-bottom: 0.5em;
}
legend {
	font-weight: bold;
	color: #fff;
}
#code textarea {
	margin: 1em;
	width: 689px;
	height: 500px;
	color: #00f;
}
#code legend {
	color: #c0c0c0;
}
#code fieldset {
	border-color: #c0c0c0;
}

#data legend {
	cursor: pointer;
}

#inputs strong {
	display: block;
	font-size:70%;
	color: #fff;
	cursor: pointer;
}

/* Maker */
#save {
	margin-top: 1em;
}
#save p {
	margin-bottom: 4px;
}
#save a {
	display: inline-block;
	border: 1px solid #ccc;
	padding: 4px 6px;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}
#save a:hover {
	background-color: #2b527b;
	color: #fff;
}
#save div {
	border: 1px solid #ccc;
	padding: 6px;
	background-color: #f0f0f0;
	font-family: monospace;
	font-size: 110%;
}

p, #save {
	font-size: 14px;
	line-height: 1.4;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
#layout th, #layout td {
	border: 1px solid #eee;
	text-align: center;
	padding: 2px 6px;
}
#layout th:first-child {
	border-top: none;
	border-left: none;
}
caption, th, td {
	text-align: left;
}
caption {
	font-weight: bold;
	padding-bottom: 2px;
	font-size: 14px;
}
th, td {
	font-weight: normal;
	padding: 2px;
}
thead th, thead td {
	border-width: 1px 0;
	border-color: #999;
	border-style: solid;
}
.maps th, .maps td {
	border-bottom: 1px #ccc solid;
	font-weight: normal;
}
.maps thead th {
	font-weight: bold;
}
.maps tr:hover th, .maps tr:hover td {
	background-color: #eee;
}
.maps caption, .maps tr * {
	padding: 6px 0;
}

#warning {
	display: none;
	border: 1px solid #c00;
	background-color: #ffffe0;
	border-radius: 4px;
	padding: 8px;
	margin-bottom: 16px;
}
#warning p {
	margin: 4px;
}
#warning input {
	padding: 4px;
	margin: 6px 0;
	width: 228px;
}

#remove a:link, #remove a:visited, #remove a:hover, #remove a:active,
#warning a:link, #warning a:visited, #warning a:hover, #warning a:active {
	color: #c00;
	text-decoration: underline;
}
.ok {
	color: #008000;
}
.nok {
	color: #c00;
}
h1 span {
  float: right;
  font-size: 12px;
  font-weight: normal;
  padding-top: 4px;
}
