body {
	font-family: Calibri, Lucida, sans-serif;
	width: 740px;
	margin: 1em auto;
}

h1 {
	font-size: 16px;
	margin: 0;
}
h1 a:link {
	color: black;
	text-decoration: none;
}
h1 a:visited {
	color: gray;
}

#dataviz {
	width: 680px;
	height: 565px;
	padding: 30px;
	background-color: #f6f6f6;
}
label {
	margin-right: 0.5em;
}
.right {
	display: inline-block;
	float: right;
}
#version {
	color: #999;
	text-shadow: 1px 1px 1px #fcfcfc;
	margin: 0 0.5em;
}
iframe {
	width: 680px;
	height: 100%;
}
#inputs, #code {
	padding: 0.5em;
}
#inputs {
	background-color: #ccc;
}
#code {
	background-color: #f6f6f6;
}
input {
	padding: 2px;
}
input[type=number] {
	width: 3em;
}
input[type=text] {
	width: 188px;
}
input.range { /*type=text too*/
	width: 80px;
}
input[name=filter] {
	width: 4em;
}

#custom {
	display: none;
}
#custom input {
	width: 700px;
}
#custom a {
	display: block;
	margin: 2px 4px 0 0;
	text-align: right;
}
textarea {
	display: block;
	width: 692px;
	height: 300px;
	padding: 0.5em;
}
fieldset {
	border: 1px solid #fff;
	padding: 6px 4px;
	margin-bottom: 0.5em;
}
legend {
	font-weight: bold;
	color: #fff;
}
#code textarea {
	margin: 1em;
	width: 669px;
	height: 500px;
	color: #00f;
}
#code legend {
	color: #c0c0c0;
}
#code fieldset {
	border-color: #c0c0c0;
}

#data legend {
	cursor: pointer;
}

#wiki {
	background-color: #999;
}
#wiki:hover {
	background-color: #666;
}

#wiki a {
	display: inline-block;
	padding: 0 6px;
}

#wiki a:link, #wiki a:visited {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

#inputs strong {
	display: block;
	font-size:70%;
	color: #fff;
	cursor: pointer;
}