<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Manual mode template</title>
	<link href="../visual.css" rel="stylesheet" type="text/css" />
	<!-- Manually include here the needed libraries (lib folder) for your visualizations -->
	<script src="../visual.js"></script>
	<script src="../visual.setup.js"></script>
	<!-- Manually include here the needed maps and map functions (maps folder) -->
</head>
  
<body>
	<div id="viz1" class="visual"></div>
	<div id="viz2" class="visual"></div>
	<script>
		visual(
			/* Visual object or array here:
			[
				{ id : "viz1", fixed: [...], ... },
				{ id : "viz2", fixed: [...], ... }
			]
			*/
		);
  </script>
</body>
</html>