<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Simple mode template</title>
	<script src="../visual.js"></script>
	<script src="../visual.setup.js"></script>
</head>

<body>
	<script id="viz1">
		VisualJS.iframe(
			/* Visual object here (arrays are not allowed):
					{ id : "viz1", fixed: [...], ... },
				 and optional CSS file (use absolute address) or CSS rules:
					"http://example.com/styles/iframe.css"
			*/
		);
	</script>
</body>
</html>