<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Webpage mode template</title>
	<link href="../visual.css" rel="stylesheet" type="text/css" />

	<script src="../lazyvisual.js"></script>
	<!-- Same as
	<script src="../lib/lazyload.js"></script>
	<script src="../visual.js"></script>
	-->

	<script src="../visual.setup.js"></script>
</head>

<body>
	<div id="visual" class="visual"></div>
	<script>
		visual(
		/* visual object here */
		);
	</script>
</body>
</html>