body, input, select {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
body {
	background-color: #f0f0f0;
	margin: 10px;
}
svg {
	background-color: #fff;
}
textarea {
	margin-left: 20px;
}
.short {
	width: 50px;
}
#symbol {
	width: 14px;
}
#visual {
	width: 500px;
	height: 500px;
	margin: 0 0 0 12px;
	background-color: #f0f0f0;
}	
#form {
	margin-bottom: 3em;
}
#form form {
	display: inline;
}
#form label {
	font-weight: bold;
	margin-left: 20px;
}
#form p {
	margin: 2px 0;
}
#visual h1, #visual p {
	margin: 0;
}
ol {
	font-size: 13px;
}
li {
	margin: 10px;
}